/*UC1*/
body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 45px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(0, 132, 255);
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid  rgb(0, 132, 255);
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.add-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 0px;
    color: rgb(0, 132, 255);
    text-transform: capitalize;
    padding-left: 5px;
}

.address-book{
    color: #42515f;
}

* {
    box-sizing: border-box;
}
/*UC2*/
.form-head {
    display: flex;
    border-radius: 8px 8px 0px 0px;
    flex-direction: row;
    background: #008cff;
    align-items: center;
    opacity: 1;
    padding: 20px;
}

.form-text {
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin: auto;
}

.cancel-img {
    margin-right: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.form-content {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    border: 0px solid #4ab4f1;
    min-height: calc(100%-80px);
}

.form {
    width: 50%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid rgb(240, 235, 235);
    border-radius: 8px;
    opacity: 1;
}
/*UC3*/
.form-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #008cff 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 6px 6px 0px 0px;
}

.form-text {
    text-align: left;
    font: normal normal normal 25px/37px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin: auto;
}

.cancel-img {
    padding: 25px;
}

.row-content {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
    align-content: flex-start;
    padding: 10px 130px;
}

.label {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: #42515f;
    opacity: 1;
}

.input {
    width: auto;
    padding: 12px;
    border: 1px solid #becbd6;
    border-radius: 4px;
    resize: vertical;
}

.select-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: 0px solid;
    margin-left: 130px;
    margin-right: 75px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.select {
    padding: 10px;
    border: 1px solid #becbd6;
    border-radius: 4px;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    resize: vertical;
    width: 160px;
    margin-top: 5px;
}
/*UC4*/
error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
    margin-left: 10px;
}

.buttonParent {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 40%;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid grey;
    cursor: pointer;
}

.submitButton {
    border: none;
    border: 1px solid grey;
    margin-left: 250px;
}

.resetButton {
    border: none;
    border: 1px solid grey;
    margin-left: 60px;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
    .select-box {
        flex-direction: column;
        justify-content: left;
        margin-left: 100px;
        margin-right: 75px;
    }
    .zip {
        margin-left: 20px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .select-box {
        flex-direction: column;
    }
    .zip {
        margin-left: 20px;
        margin-right: 20px;
    }
    .form-head-text {
        text-align: left;
        font: normal normal normal 20px/24px Montserrat;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
        margin: auto;
    }
    .row-content {
        display: flex;
        flex-flow: column;
        margin-bottom: 15px;
        align-content: flex-start;
        padding: 10px 130px;
    }
}